@page "/"
<PageTitle>Index</PageTitle>

<div>
    <h3>Pelicula</h3>
    <h4>Ejemplo foreach</h4>
    @if (Peliculas is null)
    {
        <img 
            alt="cargando"
             src="https://media2.giphy.com/media/v1.Y2lkPTc5MGI3NjExbmN1Y3A3c3JubWkzaTQ5eXV2bDFhY2ptbm9zYnB1djFiaGhldWRtbCZlcD12MV9pbnRlcm5hbF9naWZfYnlfaWQmY3Q9Zw/uIJBFZoOaifHf52MER/giphy.gif" 
             />
    
    }else if (Peliculas.Count == 0){
        <p>No hay peliculas para mostrar</p>
    }
    else
    {
         @foreach (var pelicula in Peliculas)
{ 
<div>
    
            <p> Titulo: @((MarkupString)pelicula.Titulo) 
                @if (DateTime.Today.Subtract(pelicula.FechaLanzamiento).Days <= 14)
                {
                   <span style="color:red ">(¡Nuevo!)</span>
                }
            </p>
            <p> Fecha lanzamiento: <b>@pelicula.FechaLanzamiento.ToString("dd MMM yyyy") </b></p>
</div>
 }
    }
   
@*     <h3>Pelicula</h3>
    <h4>Ejemplo for </h4> *@
    @* @for    (int i=0; i< Peliculas.Count; i++)
    {
        <div>
            <p> Titulo: <b>@Peliculas[i].Titulo </b>
                
            </p>
            <p> Fecha lanzamiento: <b>@Peliculas[i].FechaLanzamiento.ToString("dd MMM yyyy") </b></p>
        </div>
    } *@

    </div>


@code {
    /* hola que hace, UtilidadesString.Transformar(nombre) */
    /* vamos a sumar 2 + 2 = (2+2) */
    //* onclick =ManejarClickBoton>Presioname */
    /* (() => Console.WriteLine("me han clickeado!")) */
    // string nombre = "guillermo";

    Pelicula wakandaforever {get { return ObtenerPelicula(); }}
    List<Pelicula>? Peliculas { get; set; }
    protected override async Task OnInitializedAsync()
    {
        await Task.Delay(3000);
        // Peliculas = new List<Pelicula>();
        Peliculas = ObtenerPeliculas();
    }

    Pelicula ObtenerPelicula()
    {
        return new Pelicula
            {
                Titulo = "wakanda forever",
                FechaLanzamiento = new DateTime(2023, 1, 25)
    };
    }

    List<Pelicula> ObtenerPeliculas()
    {
        return new List<Pelicula>()
        {
            new Pelicula {Titulo = "<b>Wakanda forever </b>", FechaLanzamiento = new DateTime (2024,01,31)},
            new Pelicula {Titulo = "Moana", FechaLanzamiento = new DateTime (2024,1,23)},
            new Pelicula {Titulo = "Inception", FechaLanzamiento = new DateTime (2024,1,16)}

        };
    }
    /*void ManejarClickBoton()
    {
        Console.WriteLine("Me han clickeado desde una funcion");
    }*/
}