@page "/"
@using BlazorPeliculas.Client.Utilidades;

<p>Hola, @UtilidadesString.Transformar(nombre)</p>

<p>Vamos a sumar 2 + 2 = @(2 + 2)</p>

<button @onclick="ManejarClickBoton">Presióname</button>

@code {
    string nombre = "Guillermo";

    void ManejarClickBoton()
    {
        Console.WriteLine("Me han clickeado desde una función!");
    }
}
